/* Cand pui steluta ' * ' se aplica la tot ce este in html */
*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Marimea scrisului in general pe site (ca default/) */
/* Mai defineste si cat inseamna 1rem ex: 10px = 1rem */

html {
    font-size: 62.5%;
}

p,
ul {
    margin-bottom: 0 !important;
}

.main-content {
    display: grid;
    grid-template-columns: 15% 2fr;
}
