.main-footer {
    width: 100%;
    height: 7rem;
    background: url('/images/mountain.jpg');
    background-position: 0 83%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .55;
    position: absolute;
    bottom: 0;
}

.footer-container {
    display: grid;
    grid-template-columns: 10% 1fr 1fr;
    height: 7rem;
}

.footer-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-logo {
    font-size: 1.3rem;
    font-family: $quick-sand;
    color: $color-white;

    &:hover {
        text-decoration: none;
        color: $color-blue;
    }

}

.footer-ul {
    list-style: none;
    font-size: 1.3rem;
    font-family: $quick-sand;
    color: $color-white;
}

.footer-ul-left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.footer-ul-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-p-rights {
    margin-right: 1rem;
}

.footer-year-link {
    text-decoration: none;
    font-weight: 600;
    color: $color-white;
    background-color: $color-blue-dark;
    background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba($color-white, .6) 5%, rgba($color-white, .6)10%, transparent 10%, transparent 100%);
    background-size: 200% 100%;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    position: absolute;
    left: 26%;
    top: 37%;
    margin-left: .5rem;
    animation: copyright-footer 8s linear 2s infinite alternate;

    &:hover {
        text-decoration: none;
        color: $color-blue;
    }

    @keyframes copyright-footer {
        0% {
            background-color: $color-white;
            background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba($color-white, .6) 5%, rgba($color-white, .6)10%, transparent 10%, transparent 100%);
            background-size: 200% 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-position: -120% 0;
        }

        20% {
            color: $color-blue-dark;
        }

        40% {
            background-color: $color-white;
            background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba($color-white, .6) 5%, rgba($color-white, .6)10%, transparent 10%, transparent 100%);
            background-size: 200% 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-position: 120% 0;
        }

        60% {
            color: $color-blue-dark;
        }

        80% {
            background-color: $color-white;
            background-image: linear-gradient(-75deg, transparent 0, transparent 5%, rgba($color-white, .6) 5%, rgba($color-white, .6)10%, transparent 10%, transparent 100%);
            background-size: 200% 100%;
            -webkit-text-fill-color: transparent;
            -webkit-background-clip: text;
            background-position: -120% 0;
        }

        100% {
            color: $color-white;
        }
    }
}

.footer-link {
    text-decoration: none;
    color: $color-white;
    margin-right: 1rem;

    &:hover {
        color: $color-blue;
        text-decoration: none;
    }
}
